.logo{
	width:95px;
	cursor:pointer;
}

fieldset{
	width:30%;
	background-color:white;
}

legend{
	font-size:25px;
	color:#28B463;
	background-color:black;
}

input{
	width:150px;
}

body{
	background-color:#FCF3CF;
}

button{
	background-color:#95a5a6;
	color:black;
	font-size:20px;
	width:39%;
	margin-left:12%;
	cursor:pointer;
}

button:hover{
	background-color:#D4AC0D;
}