.logo{
	width:95px;
	cursor:pointer;
}

.mainheader nav{
	background-color:#28B463;
	height:40px;              
	border-radius:5px;	
}

.mainheader nav ul{
	text-align:center;
	list-style:none;
}

.mainheader nav ul li{
	display:inline;  /* line horizontal */
	color:white; /* links will be not white */
}

a{
  text-decoration:none;  /* will remove underline under the link text */
}

.mainheader a:link, .mainheader a:visited{  /* How it will looks like the navigation (fixed) */
	color:white; /* here links color will change to white */
	padding:10px 40px;
	display:inline-block;
	height:20px;
}

.mainheader a:hover, .mainheader a:active{ /* here inside code for when mouse go above words of nav links as home,about us,... the colors will change as below mentioned */
	color:black;
	background-color:#B3B6B7;
}

body{
	background-color:#FCF3CF;
}


/* Image Slider */

.cycle-slideshow { /* for images */
	max-width:960px; /* to keep images this size as appear now */
	margin:30px;
	border:4px solid black;
}

.cycle-prev, .cycle-next{ /* all about Arrows */
	font-size:400%; /* the size of arrow */
	color:white;
	position:absolute; /* place of arrow */
	top:40%;
	z-index:999; /* without it the arrow will disapear */
    cursor:pointer;
}

/* Arrow place.. and should be seperated this code from previous one */
.cycle-prev{left:5%}
.cycle-next{right:5%}
	
img{  /* for all images apear same size */
    max-width:100%;
	width:100%;
	height:100%;
}  
/* End ...Image Slider */




